@font-face {
    font-family: 'Inter-Regular';
    src: url('../assets/fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url('../assets/fonts/Inter-SemiBold.ttf');
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('../assets/fonts/Inter-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    background-color: #F9FBFF;
    min-height: 600px;
    min-width: 370px;
}

.App {
    width: 100%;
    scroll-behavior: smooth;
    /* height: 100vh; */
    /* padding-top: 1rem; */
}

.PageNotFound {
    padding-top: 96px;
    text-align: center;
    margin-bottom: 200px
}

/* Navbar */

.scrolled-navbar-class {
    background-color: #F9FBFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    transition: 0.2s;
}

#Desktop-Buttons {
    position: fixed;
    padding-top: 1rem;
    width: 100%;
    z-index: 9999 !important;
}

.Navbar {
    display: flex;
    margin: 0 6rem;
    height: 80px;
    align-items: center;
    padding-bottom: 1rem;
}

.Navbar img {
    width: auto;
    height: 78px;
    cursor: pointer;
}

.NavLinks {
    display: flex;
    justify-content: space-between;
    width: 360px;
    margin-left: 10rem;
}

.HamburgerMenuMobile {
    display: none;
    cursor: pointer;
}

.navLink {
    font-family: 'Inter-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #1B262C;
    cursor: pointer;
    transition: 0.1s;
    text-decoration: none;
}

.active .activated {
    width: auto;
    height: 3px;
    background-color: #0087ca;
    margin-top: 2px;
}

.Mobile-Menu-Buttons {
    position: fixed;
    width: 100%;
    height: 100vh;
    transform: translateY(-2000px);
    background-color: #d0eafff3;
    transition: 1s;
    display: flex;
    flex-direction: column;
    font-family: 'Inter-Bold';
    font-size: 2rem;
    color: #1B262C;
    padding-top: 6rem;
}

.mobile-close-button {
    align-self: flex-end;
    margin-right: 1.5rem;
    margin-top: 1rem;
    cursor: pointer;
}

.active-menu {
    transform: translateY(0);
}

.mobile-button {
    margin: 2rem auto;
    text-decoration: none;
    color: black;
}


/* COMMON */
.CommonContainer {
    height: calc(100vh - 96px);
    margin-left: 21rem;
    display: flex;
    max-width: 2000px;
}

.CommonHero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 570px;
    height: calc(100vh - 100px);
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 100px;
}

h1 {
    font-family: 'Inter-Bold';
    color: #1B262C;
}

p {
    color: #1B262C;
    font-family: "Inter-Regular";
}

/* Home */

.HomeWrapper {
    padding-top: 96px;
    /* needed to hold the empty space that comes from the position: fixed at NavBar */
}

/* 
.Home {
    height: calc(100vh - 96px);
    margin-left: 21rem;
    display: flex;
    max-width: 2000px;
} */

.Hero-Text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
}

.Hero-Text h4 {
    font-family: 'Inter-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #3282B8;
    margin-bottom: 30px;
}

.Hero-Text h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 67px;
    line-height: 81px;
    margin-bottom: 30px;
}

.Hero-Text p {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 20px;
}

.Hero-Text button {
    width: 211px;
    height: 49px;
    background: #3282B8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    color: white;
    font-family: 'Inter-Regular';
    font-size: 1.25rem;
    cursor: pointer;
}

.HomeHeroBg {
    background-image: url('/src/assets/images/bg.webp');
}

/* Home second */

.SeparatorWrapper {
    width: 100%;
    height: 220px;
    background-color: #1B262C;
    display: flex;
    color: white;
    justify-content: space-evenly;
}

.separatorItem {
    display: flex;
    align-items: center;
}

.sep-upper {
    font-family: 'Inter-SemiBold';
    font-size: 2rem;
}

.sep-icon {
    /* margin-right: 1rem; */
    font-size: 1.8rem;
}

.sl {
    font-size: 1.5rem;
}

.sep-lower {
    font-family: 'Inter-SemiBold';
    font-size: 1.25rem;
}

.v-line {
    width: 1px;
    height: 6rem;
    background-color: white;
    margin-left: 2rem;
}

.Introduction {
    display: flex;
    margin-left: 21rem;
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.leftIntroduction h1 {
    font-family: "Inter-Bold";
    font-size: 2.25rem;
    color: #1B262C;
}

.IntroductionText {
    font-family: "Inter-Regular";
    font-size: 20px;
    margin-top: 3rem;
    color: #1B262C;
}

.IntroductionBox:first-of-type {
    margin-top: 4rem;
}

.IntroductionBox {
    display: flex;
    margin-top: 2rem;
}

.circleBackground {
    background-color: #1B262C;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-icon {
    color: white;
    font-size: 3.5rem;
    margin-top: 13px;
}

.BoxText {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.BoxText h2 {
    color: #1B262C;
    font-family: "Inter-Bold";
}

.rightIntroduction {
    margin-right: 200px;
    margin-left: 100px;
    margin-top: 60px;
}

.introduction-img {
    background-image: url('/src/assets/images/introduction-img.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    width: 570px;
    border-radius: 100px;
}

.leftIntroduction button {
    width: 211px;
    height: 49px;
    background: #3282B8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    color: white;
    font-family: 'Inter-Regular';
    font-size: 1.25rem;
    cursor: pointer;
    margin-top: 4rem;
}

/* Footer */

.FooterWrapper {
    background-color: #0A0E10;
    width: 100%;
    height: 460px;
    display: flex;
    flex-direction: column;
}

.FooterContainer {
    display: flex;
    color: white;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1480px;
    width: 100%;
    margin-top: 5rem;
}

.FooterColumn img {
    width: auto;
    height: 124px;
    cursor: pointer;
}

.FooterColumn h3 {
    font-family: 'Inter-Bold';
    font-size: 24px;
    margin-bottom: 6px;
}

.h-line {
    width: 4rem;
    height: 2px;
    background-color: #3282B8;
    margin-bottom: 2.5rem;
}

.FooterColumn p {
    font-family: 'Inter-Regular';
    color: #b9b9b9;
    margin-bottom: 1rem;
}

.FooterCopyright {
    font-family: 'Inter-Regular';
    color: #b9b9b9;
    margin-top: auto;
    margin-bottom: 2rem;
    text-align: center;
}

/* Exercise Detail page */
.ExercisesWrapper {
    padding-top: 96px;
    /* needed to hold the empty space that comes from the position: fixed at NavBar */
}

.Exercises {
    height: fit-content;
}

.ExercisesHeroBg {
    background-image: url('/src/assets/images/exercises-bg.webp');
}

.ExercisesText {
    margin-top: 6rem;
}

.ExercisesText h1 {
    font-size: 2.5rem;
}

.ExercisesText p {
    margin-top: 2rem;
    margin-right: 1rem;
    max-width: 700px;
    font-size: 20px;
    line-height: 140%;
}

.ExercisesText p:nth-of-type(3) {
    text-decoration: line-through;
}

.ExercisesContent {
    margin-left: 21rem;
    margin-right: 21rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    max-width: 2000px;
}

#form {
    width: 80%;
    max-width: 1200px;
    min-width: 300px;
    margin-bottom: 3rem;
}

#form input {
    background-color: #1B262C;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 80%;
    height: 46px;
    color: white;
    font-family: 'Inter-Regular';
    font-size: 1rem;
    padding-left: 2.5rem;
    border: none;
    outline: none;
}

#form button {
    background-color: #3282B8;
    color: rgb(228, 228, 228);
    font-family: 'Inter-Regular';
    font-size: 1rem;
    width: 140px;
    height: 46px;
    border: none;
    cursor: pointer;
}

.bodyParts {
    width: 100%;
    height: 200px;
    background-color: #f1f7ff;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
}

.bodyParts::-webkit-scrollbar {
    display: none;
}

.bodyPart {
    width: 220px;
    height: 120px;
    background-color: #1B262C;
    margin-left: 4rem;
    display: inline-block;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    border-radius: 10px;
    transition: 0.2s;
    cursor: pointer;
    scroll-behavior: smooth;
    text-transform: capitalize;
    font-family: 'Inter-Regular';
}


#bodyIcon {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.HorizontalScrollButtons {
    margin-left: auto;
    margin-top: 1rem;
}

#arrow {
    font-size: 2.25rem;
    color: #1B262C;
    margin-right: 1rem;
    cursor: pointer;
    transition: 0.1s;
}


.ExercisesList {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    gap: 95px 75px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    justify-content: center;
}

.ExerciseCard img {
    border-top: 3px solid #0087ca;
}

.ExerciseCard button {
    color: white;
    font-family: 'Inter-Regular';
    width: fit-content;
    padding: 0.3rem;
    min-width: 80px;
    height: fit-content;
    min-height: 24px;
    border-radius: 10px;
    border: 0;
    margin-left: 1.5rem;
    margin-top: 1rem;
    background-color: #1B262C;
    text-transform: capitalize;
}

.ExerciseCard button:last-of-type {
    background-color: #0087ca;
}

.ExerciseCard p {
    text-transform: capitalize;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 2rem;
}

.Pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

/* ExerciseDetail page */
.ExerciseDetailWrapper {
    padding-top: 96px;
    /* needed to hold the empty space that comes from the position: fixed at NavBar */
}


/* Contact page */
.ContactWrapper {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
}

.ContactHeader {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
}

.ContactCard {
    display: flex;
    flex-direction: column;
    font-family: 'Inter-Regular';
    color: #1B262C;
    margin: 0 auto;
    cursor: pointer;
    align-items: center;
}

.ContactCard h2 {
    font-size: 1rem;
    margin-bottom: 0.4rem;
}

.ContactCard p {
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
}

.ContactCard .h-line {
    margin-top: 1.25rem;
}

.ContactContent {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 8rem;
    text-align: center;
}

.ContactContent h1 {
    margin-bottom: 2rem;
}

.ContactContent .h-line {
    align-self: center;
}

#contactForm {
    display: flex;
    flex-direction: column;
    width: 700px;
}

#contactForm input {
    background-color: #1B262C;
    border-radius: 10px;
    height: 46px;
    color: white;
    font-family: 'Inter-Regular';
    font-size: 1rem;
    padding-left: 2.5rem;
    border: none;
    outline: none;
    margin-bottom: 2rem;
}

#contactForm p {
    margin-bottom: 0.6rem;
}

#contactButton {
    background-color: #3282B8;
    color: rgb(228, 228, 228);
    font-family: 'Inter-Regular';
    font-size: 1rem;
    width: 700px;
    height: 46px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

/* Media screens */


/* 1600px breakdown */

@media screen and (max-width: 1600px) {

    .CommonContainer,
    .Introduction,
    .ExercisesContent {
        margin-left: 6rem;
    }

    .ExercisesContent {
        margin-right: 6rem;
    }

    .CommonHero,
    .introduction-img {
        width: 420px;
    }

    .rightIntroduction {
        margin-right: 120px;
    }

    .ExercisesList {
        grid-template-columns: 320px 320px 320px;
        gap: 95px 75px;
    }
}

/* 1358px */
@media screen and (max-width: 1358px) {
    .ExercisesList {
        grid-template-columns: 320px 320px;
        gap: 95px 5px;
    }

    .ExerciseCard img {
        width: 280px;
    }
}

/* if bigger than 1358 => apply transform scale hover effects */
@media screen and (min-width:1358px) {
    .navLink:hover {
        color: #3282B8;
        transform: scale(1.03);
    }

    .bodyPart:hover {
        border: #0087ca solid 2px;
        transform: scale(1.03);
    }

    #arrow:hover {
        color: #3282B8;
        transform: scale(1.1);
    }

    .ExerciseCard:hover {
        transform: scale(1.02);
        transition: 0.1s;
    }
}

/*  */
/* 1200px */

@media screen and (max-width: 1200px) {
    .CommonContainer {
        margin-right: 6rem;
    }

    .CommonHero {
        margin-top: 80px;
        height: calc(100vh - 280px);
    }

    .ExercisesHeroBg {
        display: none
    }

    .Introduction {
        margin-left: 3rem;
    }

    .rightIntroduction {
        margin-right: 3rem;
        margin-left: 3rem;
        margin-top: auto;
    }

    .introduction-img {
        width: 320px;
        height: 740px;
        border-radius: 60px;
    }

    #form input {
        width: 70%;
    }

    .bodyPart {
        margin-left: 2rem;
    }
}

/* 810px */

@media screen and (max-width: 810px) {
    .Navbar {
        margin: 0 2rem;
    }

    .NavLinks {
        margin-left: 3rem;
        width: 75%;
    }

    .CommonContainer,
    .ExercisesContent {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .SeparatorWrapper {
        height: 140px;
    }

    .sep-upper {
        font-size: 1.24rem;
    }

    .sep-icon {
        font-size: 1.11rem;
    }

    .sl {
        font-size: 0.93rem;
    }

    .sep-lower {
        font-size: 0.77rem;
    }

    .v-line {
        height: 3.72rem;
        margin-left: 1rem;
    }

    .Introduction {
        margin-left: 2rem;
    }

    .Hero-Text h4 {
        font-size: 18px;
    }

    .Hero-Text h1 {
        font-size: 50px;
        line-height: 3.25rem;
    }

    .Hero-Text p {
        font-size: 16px;
    }

    .Hero-Text button {
        font-size: 1rem;
    }

    .CommonHero {
        margin: auto;
        height: calc(100vh - 400px);
    }

    .leftIntroduction h1 {
        font-size: 1.75rem;
    }

    .IntroductionText {
        font-size: 16px;
    }

    .circleBackground {
        height: 60px;
        width: 60px;
    }

    .box-icon {
        font-size: 2.63rem;
    }

    .BoxText h2 {
        font-size: 1.1rem;
    }

    .BoxText {
        margin-left: 1.25rem;
    }

    .rightIntroduction {
        margin-right: 2rem;
    }

    .introduction-img {
        width: 200px;
        height: 700px;
    }

    .Introduction button {
        font-size: 1rem;
    }

    .ExercisesText h1 {
        font-size: 1.75rem;
    }

    .ExercisesText p {
        font-size: 16px;
    }

    .FooterWrapper {
        height: auto;
    }

    .FooterContainer {
        margin-top: 4.24rem;
        flex-wrap: wrap;
        justify-content: normal;
    }

    .FooterColumn {
        margin-right: 4rem;
        margin-left: 2rem;
        margin-bottom: 2rem;
    }

    .FooterColumn:last-of-type {
        margin-left: 13rem;
    }

    .FooterColumn img {
        height: 78px;
    }

    .FooterColumn h3 {
        font-size: 18px;
    }

    .h-line {
        width: 2rem;
        margin-bottom: 2rem;
    }

    .FooterColumn p {
        margin-bottom: 0.8rem;
    }

    .ExercisesList {
        grid-template-columns: 320px;
        gap: 95px 0px;
    }

    .ExerciseCard img {
        width: 320px;
    }

    #form {
        width: 100%;
    }

    #form input {
        width: 100%;
        border-radius: 10px;
    }

    #form button {
        width: 100%;
        border-radius: 10px;
        margin-top: 1rem;
    }

    .ContactWrapper {
        padding-top: 128px;
    }

    .ContactHeader {
        flex-direction: column;
    }

    .ContactContent {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    #contactForm,
    #contactButton {
        width: auto;
    }
}

@media screen and (max-width:650px) {
    .FooterColumn:nth-of-type(3) {
        margin-left: 13rem;
    }
}

/* 600px */
@media screen and (max-width: 600px) {
    .NavLinks {
        width: fit-content;
        margin-left: auto;
    }

    .navLink {
        display: none;
    }

    .HamburgerMenuMobile {
        color: #1B262C;
        display: block;
    }

    .Home {
        background-image: url('/src/assets/images/bg-mobile2.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0;
    }

    .CommonHero {
        display: none;
    }

    .Hero-Text {
        margin: 0 2rem;
    }

    .Introduction {
        background-image: url('/src/assets/images/introduction-mobile.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0;
    }

    .leftIntroduction {
        margin-top: 4.5rem;
        margin-bottom: 4.5rem;
        margin-right: 2rem;
        margin-left: 2rem;
    }

    .rightIntroduction {
        display: none;
    }

    .ExercisesText {
        margin-top: 2rem;
    }

    .ExercisesList {
        grid-template-columns: 280px;
        gap: 95px 0px;
    }

    .ExerciseCard img {
        width: 280px;
    }
}

/* if lower than 600px in height */

@media screen and (max-height: 600px) {
    .CommonContainer {
        height: 600px;
        /* height: fit-content; before line 268 update */
        height: fit-content;
        margin-top: 2rem;
    }

    /* .Hero-Text{
        justify-content: flex-start;
        before line 268 update
    } */
    .CommonHero {
        height: 70vh;
    }

    .SeparatorWrapper {
        margin-top: 4rem;
    }
}

@media screen and (max-width: 450px) {
    .FooterColumn {
        margin-right: 1rem;
    }

    .FooterColumn:nth-of-type(3) {
        margin-left: 10rem;
    }

    .FooterColumn:last-of-type {
        margin-left: 10rem;
    }
}